<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}">
<head>
    <title>Edit Product</title>
</head>
<body>
<div layout:fragment="content1" class="container mt-5">
    <form th:action="@{/admin/update}" th:object="${product}" method="post" class="p-4 shadow rounded bg-white" style="max-width: 500px; margin:auto;">
        <h2 class="text-center mb-4">Edit Product</h2>
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" th:field="*{name}" class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" th:field="*{price}" class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Quantity</label>
            <input type="number" th:field="*{quantity}" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary w-100">Update</button>
    </form>
</div>
</body>
</html>
